.product_container {
    .cart_card {
        display: flex;

        img {
            width: 100px;
            height: 100px;
        }

        div {
            display: flex;
            flex-direction: column;
        }

    }

    .cart_hr {
        border-top: 2px dotted gray;
        border-bottom: 0;
        border-right: 0;
        border-left: 0;
        width: 100%;
    }
}


.price_container {
    height: 400px;
    display: flex;
    justify-content: center;

    .price_details {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 1rem;

        div {
            display: flex;
            justify-content: space-between;
        }
    }

}

.hide {
    visibility: hidden;
}